#about {
  padding: 20px 0px;
  position: relative;
  z-index: 9;
  margin-bottom: 280px;
}

.features-item {
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.features-item h2 {
  z-index: 9;
  position: absolute;
  top: 15px;
  left: 45px;
  font-size: 100px;
  font-weight: 600;
  color: #fdefe9;
}

.features-item img {
  z-index: 10;
  position: relative;
  max-width: 35%;
  margin-bottom: 20px;
}

.features-item h4 {
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 15px;
}

.features-em h4 em {
  font-style: normal;
  color: #fba70b;
}

.features-img {
  margin-top: 15px;
}

.features-allcall {
  font-size: 17px;
  line-height: 25px;
  color: #c7c4c4;
}
