.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $blueSapphire;
  text-align: center;

  a {
    color: $cultured;

    &:hover {
      color: $richBlack;
      text-decoration: none;
    }
  }
}

.footer__information {
  color: $cultured;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-top: 20px;
}
