.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: coral;
  text-align: center;

  a {
    color: #fff;

    &:hover {
      color: #fc3;
      text-decoration: none;
    }
  }
}

.footer__information {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-top: 20px;
}
