$richBlack: #001219;
$blueSapphire: #005f73;
$viridianGreen: #0a9396;
$middleBlueGreen: #94d2bd;
$mediumChampagne: #e9d8a6;
$cultured: #f8f9fa;
$gunmetal: #343a40;
$gainsboro: #dee2e6;

* {
  margin: 0;
}

body {
  height: 100%;
  color: $richBlack;
  background-color: $cultured;
}

html {
  position: relative;
  min-height: 100%;
}

button:active,
button:focus,
button {
  outline: none;
}

%title-tpl {
  font-size: 42px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
  em {
    font-style: normal;
  }
  @media (max-width: 480px) {
    margin-bottom: 0px;
  }
}

%button {
  text-transform: uppercase;
  color: $cultured;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 25px;
  border: none;
  padding: 10px 25px;
  margin: 10px;

  &:hover {
    background-color: $mediumChampagne;
    color: $richBlack;
  }
}

.home-title {
  @extend %title-tpl;
  em {
    color: $viridianGreen;
  }
}

.title {
  @extend %title-tpl;
  margin-bottom: 0px;
  em {
    color: $middleBlueGreen;
  }
}

.group-button {
  text-align: center;
}

.group-button__button {
  @extend %button;
  margin-bottom: 50px;
  background-color: $blueSapphire;

  @media (max-width: 480px) {
    margin-bottom: 20px;
  }
}

.modal-button {
  @extend %button;
  background-color: $blueSapphire;
}
