@import './reset.scss';
@import './global.scss';
@import './menu.scss';
@import './questionCard.scss';
@import './footer.scss';
@import './cardList.scss';
@import './marks.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

/*li:last-child {
    padding-left: 100px;
  }
  
  @media (max-width: 550px) {
    li:last-child {
      padding-left: 0px;
    }
  }
  */
